/* WERCHOW && MUTUAL LOGO */

.werchowlogo {
  width: 160px;
  height: 40px;
}

.solic {
  width: 100% !important;
  height: 100% !important ;
}

/* @media print  {
  @page {
    size: auto;
    size: 287mm 210mm;
  }
} */

.premios {
  width: 95% !important;
  height: 95% !important;
  position: absolute !important;
}

.mutuallogo {
  width: 185px;
  height: 70px;
}

.faccontainer {
  padding: 4rem !important;
  width: 100%;
}

.list {
  background: white;
}

input:read-only {
  background: rgb(151, 148, 148) !important;
  color: black !important;
}

input {
  background: white !important;
  color: black !important;
}

/* MENU Y SUB MENU */

.navbar {
  text-transform: uppercase;
  font-weight: 20px;
  font-size: 0.7rem;
  height: 20px;

  /* background: rgba(3, 36, 66, 0.685) !important; */
}

.ruleta:active {
  -webkit-transform: rotate(6000deg);
  -webkit-transition: -webkit-transform 5s ease-out;
}

.navbar-brand img {
  height: 2rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff !important;
  padding-top: 0.8rem;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/* SPINNER */

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.print-leg {
  size: A4 !important;
  margin-top: 50pt;
}

.print-estadistica {
  size: A4;
  size: 1in 1in;
  margin: 20pt 20pt 20pt;
  -webkit-print-color-adjust: exact;
}

.print-notrehab {
  size: A4;
  size: 1in 1in;
  /* margin: 5pt 5pt 5pt; */
  -webkit-print-color-adjust: exact;
}

.print-solserv {
  size: A4 !important;
  width: 100% !important;
  height: 100% !important;
}

.logerr {
  width: 600px;
}

/* IMAGENES ARCHIVO */

.archivos {
  padding: 50px;
  transition: transform 0.2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
  align-items: center;
}
.archivos:hover {
  transform: scale(
    2.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.archimodal {
  padding: 50px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  align-items: center !important;
  justify-items: center !important;
}
.conform {
  font-size: 1.2em !important; /* 40px/16=2.5em */
  font-weight: bold !important;
  line-height: 30px !important;
}

.conformnovell {
  font-size: 1em !important; /* 40px/16=2.5em */
  font-weight: bold !important;
  line-height: 30px !important;
}

@media (max-width: 580px) {
  .navbar {
    text-transform: uppercase;
    font-weight: 20px;
    font-size: 0.7rem;
    height: 100%;
    /* background: rgba(3, 36, 66, 0.685) !important; */
  }
}
